@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Orbitron:wght@400..900&display=swap');

/* Reset Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif; 
}

.container {
  padding: 1.5rem;
  width: 100%;
  margin: auto;
  max-width: 1280px;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.img-wrapper {
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }

.img-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: auto;
}

.book-text {
  font-family: "Gruppo", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: gray;
}